/* Dashboard Theme v3 */
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: Inter, sans-serif;
    --color-primary: #59CA4E;
    --color-primary-hover: #4CAF50;
    --color-primary-dark: #4CAF50;
}

.dark {
    --color-primary: #4CAF50;
    --color-primary-hover: #59CA4E;
}
